In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('tidying_data.csv')

In [3]:
data

     marker  cyl   hp  carb
0  Delorian    4  160     4
1    Fantom    2   80     2

In [4]:
df1 = pd.melt(frame=data, id_vars='marker', var_name='matric', value_vars=['cyl', 'hp', 'carb'], value_name='thinh1')
df1

     marker matric  thinh1
0  Delorian    cyl       4
1    Fantom    cyl       2
2  Delorian     hp     160
3    Fantom     hp      80
4  Delorian   carb       4
5    Fantom   carb       2

In [14]:
# pivot chuyển các giá trị duy nhất thành các cột
df1 = df1.append({"marker": "Fantom", "matric": "carb", "thinh1": 4}, ignore_index=True)
print(df1)

     marker matric  thinh1
0  Delorian    cyl       4
1    Fantom    cyl       2
2  Delorian     hp     160
3    Fantom     hp      80
4  Delorian   carb       4
5    Fantom   carb       2
6    Fantom   carb       4

In [11]:
import numpy as np

In [15]:
df_pivot = df1.pivot_table(index='marker', columns='matric', values='thinh1', aggfunc=np.mean)
df_pivot

matric    carb  cyl   hp
marker
Delorian     4    4  160
Fantom       3    2   80

In [ ]:
df_pivot.reset_index(inplace=True)
df_pivot

In [ ]:
df_pivot.append({"marker": "Fantom", ""})